/* General Styles */
aside{
  height: 30%; /* Establece la altura al 50% del viewport height */
  width: 100%; /* Establece el ancho al 80% del viewport width */
  z-index:0 ;
}

.gradiante {
  background-image: linear-gradient(to top, #801e1e 2%, #080808);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 0;
  left: 0;
  top: 110px;
}

.gradiante.alt-colors {
  background-image: linear-gradient(to top, #0072b2 2%, #080808);
}

/* Path */
#path {
  position: absolute; /* Position the path element absolutely */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  width: 100%; /* Take full width of the viewport */
  height: 100%; /* Take full height of the viewport */    
}

/* Header Styles */
header{
  width: 100%;
  height:130px;
}
/* Navigation Title */
.Nav-titulo {
  background-color: #080808; /* Set background color */
   display: flex; /* Use flexbox for layout */
   justify-content: center; /* Center horizontally */
   align-items: center; /* Center vertically */
   width: 100%;
  height:110px;
  min-height: 90px; 

}

.imgU{
margin-top: 15px;
margin-left: 10px
}

.URLOGO{
  text-align: center;
  position: absolute;
  margin-left: -110px;

}

.Nav-titulo .navbar-brand {
  margin: 0; /* Reset margin */
  text-align: center; /* Center text */
  position: absolute; /* Position absolutely */
  left: 50%; /* Center horizontally */
  top: 2%; /* Slightly offset from the top */
  transform: translateX(-50%); /* Adjust for centering */
  font-size: 40px; /* Set font size */
  font-family: "Varela Round", sans-serif; /* Set font family */
  font-weight: 400; /* Set font weight */
  font-style: normal; /* Set font style */
  color: #F2F2F2; /* Set text color */
}

/* Dropdown Styles */
.dropdown-center {
  position: absolute; /* Position absolutely */
  top: 40px; /* Offset from the top */
  right: 40px; /* Offset from the right */
  background-color: #000000; /* Set background color */
  width: 70px; /* Set width */
  height: 50px; /* Set height */
  font-size: 25px; /* Set font size */
}

.btn-secondary {
  background-color: #000000; /* Set background color */
  border-color: #000000; /* Set border color */
  color: #F2F2F2; /* Set text color */
}

.dropdown-menu {
  background-color: #000000; /* Set background color */
  font-size: 16px; /* Set font size */
  min-width: 60px; /* Set minimum width */
  max-height: 50px; /* Set maximum height */

}

ul.dropdown-menu li a {
  color: #F2F2F2 !important; /* Set text color for dropdown items */
}

/* Aside Styles */


/* Button Styles */
.Button {
  width: 100%; /* Take full width */
  padding: 10px 0; /* Set padding */
  margin-top: 35px; /* Add top margin */
  position: relative; /* Position relative */
  background-color: #883844; /* Set background color */
  z-index: 100;
}

.btn-secondary:hover {  
  background-color: #5c1919;
}

.btn-secondary.alt-colors:hover {
  background-color: #0072b2;
}

.Button .btn {
  min-width: 60px;
  min-height: 60px;
  width: 40%; /* Set width */
  height: auto; /* Set height */
  margin: 0 auto; /* Center horizontally */
  display: block; /* Make it a block element */

}

.Button img {
  width: 100%; /* Set width */
  height: auto; /* Set height */
}

.Button .dropdown-content {
  display: none; /* Hide dropdown content by default */
  position: absolute; /* Position absolutely */
  background-color: #250000; /* Set background color */
  min-width: 160px; /* Set minimum width */
  left: calc(100% + 10px); /* Position relative to button */
  top: calc(20% + 10px); /* Position relative to button */
  z-index: 100;
}

.Button .dropdown-content a {
  display: block; /* Display as block */
  padding: 10px; /* Set padding */
  text-decoration: none; /* Remove underline */
  color: #f2f2f2; /* Set text color */
}

.Button .dropdown-content a:hover {
  background-color: #250000; /* Set background color on hover */
}

.Button .btn:focus + .dropdown-content {
  display: block; /* Display dropdown content on focus */
}

.Boton_final {
  margin-top: 140px; /* Add top margin */
}

.Button_config {
  background-color: #ba0620; /* Set background color */
  border-color: #ba0620; /* Set border color */
  color: #f2f2f2; /* Set text color */
}

.Button_config.alt-colors {
  background-color: #0072b2; /* Set background color */
  border-color: #0072b2; /* Set border color */
  color: #f2f2f2; /* Set text color */
}

/* Content Styles */

/* Content Wrapper */
.content-wrapper {
  display: flex; /* Use flexbox for layout */
  flex-direction: row; /* Arrange children in a column */
}


/* Map Styles*/
#map {
    width: 25vw;
    height: calc(40vw * 9/16);  
    position: fixed;
    left: 35%;
    z-index: 90;
}

/* Styles for Path List Buttons */

#pathList {
  list-style-type: none;
  height: 35vh; /* Establece la altura al 30% del viewport height */
  width: 90vw; /* Establece el ancho al 90% del viewport width */
  padding: 0;
  margin: 0 auto;
  position: relative; /* Cambiado a relativo para que el z-index funcione */
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
  overflow-x: auto; /* Permite el desplazamiento horizontal */
  overflow-y: hidden; /* Evita el desplazamiento vertical */
  z-index: 9999 !important; /* Selecciona un valor alto para asegurarte de que esté encima de todo */
  -webkit-overflow-scrolling: touch; /* Añade inercia de desplazamiento en iOS */
  scroll-snap-type: x mandatory; /* Facilita el desplazamiento suave en todas las plataformas */
}

#pathList::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento en Webkit */
}


#pathList > li {
  flex: 0 0 auto; /* Los elementos no se encogerán y se ajustarán a su contenido */
  min-width: 100px; /* O cualquier tamaño mínimo adecuado */
  scroll-snap-align: start; /* Ayuda a que los elementos se alineen correctamente al hacer scroll */
  height: calc(20vh/2);
  z-index: 9999 !important;
  margin-left: 5vh;
}

#pathList:active, #pathList:focus {
  cursor: grab; /* Cambia el cursor a "agarre" cuando se hace clic o se enfoca */
}
#pathList:active {
  cursor: grabbing; /* Cambia el cursor a "agarrando" cuando se está arrastrando */
}


/*------------------------------------------------
 Hexagono bonitos de pta mierda :D
-------------------------------------------------*/

.hexagon-item:first-child {
  margin-left: 0;
  height: 200px;
  width: 200px;
}


/* Importante*/
.hexagon-item {
  cursor: pointer;
  width: calc(100%-10px);
  height: 100%;
  float: left;
  margin-left: -29px;
  z-index: 0;
  position: relative;
  top:30%;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg); }
  .hexagon-item:first-child {
    margin-left: 0;
  }
  .hexagon-item:hover {
    z-index: 1; }
    .hexagon-item:hover .hex-item:last-child {
      opacity: 1;
      -webkit-transform: scale(1.3);
      -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
      -o-transform: scale(1.3);
      transform: scale(1.3); 
    }
    .hexagon-item:hover .hex-item:first-child {
      opacity: 1;
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1); 
    }
      .hexagon-item:hover .hex-item:first-child div:before,
      .hexagon-item:hover .hex-item:first-child div:after {
        height: 5px; }
    .hexagon-item:hover .hex-item div::before,
    .hexagon-item:hover .hex-item div::after {
      background-color: #972525; }
    .hexagon-item.alt-colors:hover .hex-item div::before,
    .hexagon-item.alt-colors:hover .hex-item div::after {
      background-color: #0072b2; }
    .hexagon-item:hover .hex-content svg {
      -webkit-transform: scale(0.97);
      -moz-transform: scale(0.97);
      -ms-transform: scale(0.97);
      -o-transform: scale(0.97);
      transform: scale(0.97); }


/* Anillos de los hexa*/
.hex-item {
  position: absolute;
  top: 0;
  left: 50px;
  width: 100px;
  height: 100%; }
  .hex-item:first-child {
    z-index: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
  .hex-item:last-child {
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1; }
  .hex-item div {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 100px;
    height: 88%;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center; }
    .hex-item div::before, 
    .hex-item div::after {
      background-color: #380c0c;
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
      -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
      -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
      transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; 
    }
    .hex-item div.alt-colors::before, 
    .hex-item div.alt-colors::after {
      background-color: #003f64;
    }
    .hex-item div:before {
      top: 0; }
    .hex-item div:after {
      bottom: 0; }
    .hex-item div:nth-child(1) {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg); }
    .hex-item div:nth-child(2) {
      -webkit-transform: rotate(60deg);
      -moz-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
      -o-transform: rotate(60deg);
      transform: rotate(60deg); }
    .hex-item div:nth-child(3) {
      -webkit-transform: rotate(120deg);
      -moz-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
      -o-transform: rotate(120deg);
      transform: rotate(120deg); }

    /*Contenido de los hexa*/
.hex-content {
color: #fff;
display: block;
height: 180px;
margin: 0 auto;
position: relative;
text-align: center;
transform: rotate(-30deg);
width: 156px; }
.hex-content .hex-content-inner {
  left: 50%;
  margin: -3px 0 0 2px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
.hex-content .icon {
  display: block;
  font-size: 36px;
  line-height: 30px;
  margin-bottom: 11px; }
.hex-content .title {
  display: block;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase; }
.hex-content svg {
  left: -7px;
  position: absolute;
  top: -13px;
  transform: scale(0.87);
  z-index: -1;
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }
  .hex-content svg path {
    fill: rgb(8, 8, 8); /* Cambiar a tu color deseado */
  }
.hex-content:hover {
  color: #fff; }

/*Difumnado de las letras en hover*/

.hexagon-item:hover .icon i
{
color:#ff0037;
transition:0.6s;

}

.hexagon-item:hover .title
{
-webkit-animation: focus-in-contract 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: focus-in-contract 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/***************************/

@-webkit-keyframes focus-in-contract {
0% {
  letter-spacing: 1em;
  -webkit-filter: blur(12px);
          filter: blur(12px);
  opacity: 0;
}
100% {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  opacity: 1;
}
}
@keyframes focus-in-contract {
0% {
  letter-spacing: 1em;
  -webkit-filter: blur(12px);
          filter: blur(12px);
  opacity: 0;
}
100% {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  opacity: 1;
}
}

/*Rectángulo con información*/
.rectangle {
  background-color: rgba(73, 7, 7, 0.0);
  border-radius: 10px; /* Ajusta el valor para cambiar la redondez */
  padding: 20px; /* Agrega padding para dar espacio al texto */
  width: 30vw;
  height: calc(40vw * 9/16);
  position: fixed; /* Posición fija */
  right: 10%;
  z-index: 90;
  top: 45%; /* Centra verticalmente */
  display: flex; /* Usa flexbox */
  flex-direction: column; /* Alinea los hijos verticalmente */
  justify-content: center; /* Centra el contenido verticalmente */
  align-items: center; /* Centra el contenido horizontalmente */
  overflow: auto;
}

.rectangle .descripcion-info {
  color: white;
  font-size: 3px; /* Ajusta el tamaño de la fuente */
  text-align: center;
  padding: 20px;
  background-color: rgba(73, 7, 7, 0.0);
  width: 25vw;
  height: calc(35vw * 9/16);
}


h1 {
  display: flex; /* Usa flexbox */
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  width: 25vw;
  height: calc(35vw * 9/16);
  font-family: "Merriweather", serif;
  font-size: 3.5vh;
  text-align: center;
}

.recttitle {
  font-weight: bold; /* Make the title bold */
  margin-bottom: 10px; /* Add space between title and content */
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-size: 1vw; /* Adjust font size based on viewport width */
  color:#f5f3f3;
}

.rectcontent {
  color: #f5f3f3; /*Color del texto*/
  font-size: 0.5vw; /* Adjust font size based on viewport width */
  font-family: "Merriweather", serif;
  text-align: justify;
  text-align: center;
}

/* Estilos para la barra de desplazamiento en navegadores Webkit */
::-webkit-scrollbar {
  width: 6px; /* Ancho de la barra de desplazamiento */

}

::-webkit-scrollbar-track {
  background-color: transparent; /* Hace que la pista de la barra de desplazamiento sea transparente */

}

::-webkit-scrollbar-thumb {
  background-color: #f5f2f2; /* Color blanco para la barra de desplazamiento */
  border-radius: 10px; /* Radio de borde del "thumb" */
}

.carrusel-container{
  width: 25vw; 
  height: calc(40vw * 9/16); 
  position: fixed; /* Position it relative to the viewport */
  overflow: hidden;
  right: 69%; /* Adjust to position it to the left */
  z-index: 90; /* Ensure it's above other content */
  top: 50%; /* Center vertically */
  background-color: rgba(255, 255, 255, 0);
  max-width: 600px;
  margin: auto;
}

.slide-list {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide-item {
  min-width: 100%;
  box-sizing: border-box;
}

.slide-item img {
  width: 25vw;
  height: calc(40vw * 9/16); 
  display: block;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/*Centrar los elementos del main dinamicamente*/

.rectangle,
.carrusel-container,
#map {
  top: 70%;
  transform: translateY(-50%);
}

@media screen and (max-width: 25vw){
  .slide-slider{
      height: calc(40vw *9/16);
  }
} 

@media screen and (max-aspect-ratio: 16/9){

}


.switch {
  position: fixed;
  top:2%;
  right: 150px;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 30px;
  z-index: 1000;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right,  #b11d1d, #080808);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/*icono para la parte azul*/
input:checked + .icon::before {
  font-family: "FontAwesome";
  content: "\f06e";
  transform: rotate(45deg);
  padding-top: 2px;
  padding-left: 5px;
  color:#000000;
}
.toggle {
  font-family: "FontAwesome";
  font-style: normal !important;
}
.dev-footer {
  margin-top: 71px;
  color: #4e4a46;
}
/*icono para la parte roja*/
input + .icon::before {
  font-family: "FontAwesome";
  content: "\f070";
  padding-top: 1px;
  padding-left: 7px;
  color: #ffffff;
}
.slider.w-color:before {
  background-color: #080808;
}
.slider.w-color {
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider.w-color {
  background-color: #ccc;
}
input:checked + .slider.icon {
  background-image: linear-gradient(to right, #0072b2, #c9daff); /*color segundo estado*/
}

.slider.icon:before {
  background-color: #080808
}
.slider.icon:after {
  background-color: #e2df23;
}
input:checked + .slider {
  background-color: #dee7ff;
}

input:checked + .slider.icon:before {
  background-color: #c9daff; /* Cambio de color del ícono cuando está marcado */
}

input:checked + .slider.icon:after {
  background-color: #080808; /* Cambio de color del ícono cuando está marcado */
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
