/* General Styles */


.gradiante {
    background-image: linear-gradient(to top, #801e1e 2%, #000000);
    height: 100%; /* Establece la altura al 50% del viewport height */
    width: 100%; /* Establece el ancho al 80% del viewport width */
    position:fixed;
    z-index: -100;
    left: 0;
    top: 130px;
}

/* Path */
#path {
    position: absolute; /* Position the path element absolutely */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    width: 100%; /* Take full width of the viewport */
    height: 100%; /* Take full height of the viewport */    
}

/* Header Styles */
 header{
    width: 100%;
    height:130px;
 }
/* Navigation Title */
 .Nav-titulo {
    background-color: #000000; /* Set background color */
     display: flex; /* Use flexbox for layout */
     justify-content: center; /* Center horizontally */
     align-items: center; /* Center vertically */
     width: 100%;
    height:130px;
    min-height: 90px; 

}

.imgU{
margin-top: 15px;
margin-left: 10px
}

.URLOGO{
    text-align: center;
    position: absolute;
    margin-left: -110px;

 }
.Nav-titulo .navbar-brand {
    margin: 0; /* Reset margin */
    text-align: center; /* Center text */
    position: absolute; /* Position absolutely */
    left: 50%; /* Center horizontally */
    top: 2%; /* Slightly offset from the top */
    transform: translateX(-50%); /* Adjust for centering */
    font-size: 40px; /* Set font size */
    font-family: "Varela Round", sans-serif; /* Set font family */
    font-weight: 400; /* Set font weight */
    font-style: normal; /* Set font style */
    color: #F2F2F2; /* Set text color */
}

/* Dropdown Styles */
.dropdown-center {
    position: absolute; /* Position absolutely */
    top: 40px; /* Offset from the top */
    right: 40px; /* Offset from the right */
    background-color: #000000; /* Set background color */
    width: 70px; /* Set width */
    height: 50px; /* Set height */
    font-size: 25px; /* Set font size */
}

.btn-secondary {
    background-color: #000000; /* Set background color */
    border-color: #000000; /* Set border color */
    color: #F2F2F2; /* Set text color */
}

.dropdown-menu {
    background-color: #000000; /* Set background color */
    font-size: 16px; /* Set font size */
    min-width: 60px; /* Set minimum width */
    max-height: 50px; /* Set maximum height */

}

ul.dropdown-menu li a {
    color: #F2F2F2 !important; /* Set text color for dropdown items */
}

/* Aside Styles */

/* Sidebar */


.container-fluid {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Arrange children in a column */
    height: 100%; /* Take full height */
}

/* Button Styles */
.Button {
    width: 100%; /* Take full width */
    padding: 10px 0; /* Set padding */
    margin-top: 35px; /* Add top margin */
    position: relative; /* Position relative */
    background-color: #ba0620; /* Set background color */
    z-index: 100;
}

.Button .btn {
    min-width: 60px;
    min-height: 60px;
    width: 40%; /* Set width */
    height: auto; /* Set height */
    margin: 0 auto; /* Center horizontally */
    display: block; /* Make it a block element */

}

.Button img {
    width: 100%; /* Set width */
    height: auto; /* Set height */
}

.Button .dropdown-content {
    display: none; /* Hide dropdown content by default */
    position: absolute; /* Position absolutely */
    background-color: #250000; /* Set background color */
    min-width: 160px; /* Set minimum width */
    left: calc(100% + 10px); /* Position relative to button */
    top: calc(20% + 10px); /* Position relative to button */
    z-index: 100;
}

.Button .dropdown-content a {
    display: block; /* Display as block */
    padding: 10px; /* Set padding */
    text-decoration: none; /* Remove underline */
    color: #f2f2f2; /* Set text color */
}

.Button .dropdown-content a:hover {
    background-color: #250000; /* Set background color on hover */
}

.Button .btn:focus + .dropdown-content {
    display: block; /* Display dropdown content on focus */
}

.Boton_final {
    margin-top: 140px; /* Add top margin */
}

.Button_config {
    background-color: #ba0620; /* Set background color */
    border-color: #ba0620; /* Set border color */
    color: #f2f2f2; /* Set text color */
}

/* Content Styles */

/* Content Wrapper */
.content-wrapper {
    display: flex; /* Use flexbox for layout */
    flex-direction: row; /* Arrange children in a column */
}

/* Search and Social */

.search-social {
    margin-top: 0%; /* Puedes ajustar esto según sea necesario */
    width: 15%;
    height: 10%;
    position: absolute; /* Cambiado de relative a absolute */
    right: 5%; /* Ajusta la posición derecha según sea necesario */
    top: 9%; /* Ajusta la posición superior según sea necesario */
    transform: translateY(-50%); /* Centra verticalmente el elemento */
}

.search-social input {
    width: auto; /* Set width to auto */
    margin-right: 10px; /* Add right margin */
}

.social-icons {
    display: inline-block; /* Display inline block */
}

.social-icons .btn {
    margin: 0.5px; /* Set margin */
    background-color: transparent; /* Set background color to transparent */
    border: none; /* Remove border */
}

.social-icons .btn img {
    width: 40px; /* Set width */
    height: 40px; /* Set height */
    border-radius: 50%; /* Make it round */
    background-color: #ffffff; /* Set background color */
    padding: 8px; /* Set padding */
}

/* Map Styles*/
#map {
    width: 600px;
    height: 600px;
    position: absolute;
    left: 20%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 90;
    top: 50%; /* Centra verticalmente */
}

/* Styles for Path List Buttons */


#pathList {
    list-style-type: none; /* Remove list bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    position: relative;
    display: flex; /* Use flexbox */
    flex-direction: row; /* Stack items horizontally */
    background-color: #000000; /* Set background color */
    border-radius: 10px; /* Set border radius */
    overflow: hidden;
}

#pathList li {
    margin-left: 80px; /* Set margin between hexagons */
}

.hexagon-item {
    cursor: pointer;
    width: 200px;
    height: 173.20508px;
    margin-left: -29px;
    z-index: 0;
    position: relative;
    transform: rotate(30deg);
    transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.hexagon-item:first-child {
    margin-left: 0;
}

.hexagon-item:hover {
    z-index: 1;
    transform: rotate(30deg) scale(1.1); /* Scale up hexagon on hover */
}

.hex-item {
    position: absolute;
    top: 0;
    left: 50px;
    width: 100px;
    height: 173.20508px;
}

.hex-content {
    color: #fff;
    display: flex; /* Usar flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 180px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    transform: rotate(-30deg);
    width: 156px;

}

.hex-content .icon {
    display: block;
    font-size: 36px;
    line-height: 30px;
    margin-bottom: 11px;
}

.hex-content .title {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
}

.hex-content svg {
    left: -7px;
    position: absolute;
    top: -13px;
    transform: scale(0.87);
    z-index: -1;
    transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.hexagon-item:first-child {
    margin-left: 0;
}

.pt-table.desktop-768 .pt-tablecell {
    padding-bottom: 110px;
    padding-top: 60px;
}



.hexagon-item:hover .icon i
{
  color:#ff0037;
  transition:0.6s;
  
}


.hexagon-item:hover .title
{
  -webkit-animation: focus-in-contract 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/***************************/

@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

